<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4" routerLink="/">StageHub</a>
    <div class="navbar-nav ms-auto">
      <a class="nav-link" routerLink="/" *ngIf="isAuthenticated()">Home</a>
      <a class="nav-link" routerLink="/users/profile" *ngIf="isAuthenticated()">Profile</a>
      <a class="nav-link" (click)="logout()" *ngIf="isAuthenticated()" style="cursor:pointer">Logout</a>
      <a class="nav-link" routerLink="/users/login" *ngIf="!isAuthenticated()">Login</a>
    </div>
  </div>
</nav>

<main class="flex-shrink-0">
  <router-outlet></router-outlet>
</main>